body {
    background-color: lightgrey;
}


h1 {
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
   
  }

  p {
    display: flex;
    justify-content: space-around;
    font-size: large;
  }
 
  

